nav {
  display: flex !important; 
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}


#menuBtn {
  display: none;
}

/* Responsive Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 3rem;
}
