body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  background:#e3d26f;
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-sidebar {
  background: #e3d26f;
  grid-column: 1 / 2;
}

main {
  background: coral;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: #4E3822;
  grid-column: 3 / 4;
}

footer {
  background: #2f1b25;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}