body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  text-align: center;
  background:#e3d26f;
  padding: 2rem;
  grid-column: 1 / 4;
}

nav ul {
  display: flex; 
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.left-sidebar {
  background: #ccae07;
  grid-column: 1 / 2;
}

main {
  text-align: center;
  text-size-adjust: 100%;  
  background: #a32464;
  grid-column: 2 / 3;
}

.right-sidebar {
  background: #772362;
  grid-column: 3 / 4;
}

footer {
  background: #6b304d;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}