body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  background:#e3d26f;
  padding: 2rem;
  grid-column: 1 / 4;
  font-family: 'Merriweather', serif;
}

nav ul {
  display: flex; 
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.left-sidebar {
  background: #7a5571;
  color: #fff
  grid-column: 1 / 2;
  font-family: 'Merriweather Sans', sans-serif;
}

main {
  text-align: center;
  text-size-adjust: 100%;  
  background: #a32464;
  color: #fff
  grid-column: 2 / 3;
  font-family: 'Montserrat', sans-serif;
  text-shadow: #000 1px 1px 2px;
}

.right-sidebar {
  background: #a03084;
  color: #fff
  grid-column: 3 / 4;
  font-family: 'Merriweather Sans', sans-serif;
}

footer {
  background: #6b304d;
  color: #fff
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  font-family: 'Merriweather Sans', sans-serif;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}